{% extends "index.html.twig" %}

{% block body %}
    <div class="container">
        <div class="card p-3">

            {% if articleData.ImageFileName != '' and    file_exist('./uploads/images/'~articleData.ImageRepository~'/'~articleData.ImageFileName) %}
                <img class='card-img-top' alt='Article'
                     src='/uploads/images/{{ articleData.ImageRepository }}/{{ articleData.ImageFileName }}'/>
            {% else %}
                <h6 class="display-4">Pas d'image</h6>
            {% endif %}

            <div class="card-body">
                <h5 class="card-title">{{ articleData.Titre }}</h5>
                <p class="card-text">{{ articleData.Description }}</p>
            </div>
            <footer class="blockquote-footer">
                <medium class="text-muted">
                    Rédigé par {{ articleData.Auteur }}
                </medium>
            </footer>
        </div>
        <div class="d-flex justify-content-between p-3">
            <a href="/Contact" class="btn btn-primary">Contacter le Rédacteur</a>
            <a href="/Article/ListAll" class="btn btn-danger">Retour</a>
        </div>
    </div>

{% endblock %}